@import './base.css';
@import './font.css';
@import './button.scss';

#app {
  font-family: 'PublicPixel', monospace;
  height: 100%;
  position: relative;
  overflow: hidden;

}

a,
.green {
  text-decoration: none;
}